<span>my name is miri</span>
<table border="1">
  <tr>
    <th>Hour</th>
    <th>Minute</th>
    <th>Second</th>
  </tr>
  <tr>
    <td>11</td>
    <td>24</td>
    <td>35</td>
  </tr>
</table>

{{ a }}

<ul>
  <li>{{ item1 }}</li>
  <li>{{ item2 }}</li>
  <li>{{ item3 }}</li>
  <li>{{ item4 }}</li>
</ul>

<project1 bg="lightblue" word1="PETACH-TIKVA" word2="TEL-AVIV"></project1>

<project2 bg="yellow"></project2>

<project3 color="green"></project3>

<project4></project4>

<project5></project5>

<project6></project6>

<project7></project7>

<project8></project8>

<project9></project9>

<project10></project10>